$font-cabin: 'Cabin', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-Source: 'Source Sans Pro', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-myriad: 'MyriadPro', san-serif;
$font-myriad-cond: 'MyriadPro-Cond', san-serif;
$font-myriad-semi: 'MyriadPro-Semi', san-serif;

$font-proxima-nova: 'proxima-nova', san-serif;
$c-footer: #939393;
$t-footer: #606060;
$c-white: #ffffff;
$t-blue: #269DD3;
$c-blue: #25a0cd;
$c-black: #000000;
$bg-blue-tag: #48B9FF;
$t-grey: #758283;